/* 
    Created on : Jun 6, 2016, 1:42:01 PM
    Author     : Nikolay Krasnikov
*/
div.form-action-panel {
    width: 100%;
    padding: 0.3em;
    margin-top: 0;
    margin-bottom: 0.5em;
    display: block;
    background-color: #D0E8F4;
    min-height: 32px;
    overflow: hidden;
}

.success-message {
    width: 100%;
    background: #dfffdf;
    text-align: center;
    padding: 10px 5px;
    color: #00a000;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14pt;
    font-family: 'Muli', sans-serif;
}
