/* 
    Created on : Mar 17, 2016, 9:28:40 PM
    Author     : Nikolay Krasnikov
*/

.myButton {
	background-color: transparent;
        border: 1px solid #599bb3;
	display:inline-block;
	cursor:pointer;
	color: #222;
	font-family:'Muli', sans-serif;
	font-size:16px;
	padding: 8px 51px;
	text-decoration:none;
        transition: all 0.5s;
}

.dark {
    color: #1a202c;
}

.myButton:hover {
/*	background-color:#66a8c0;*/
        background-color: #ffa500;
/*        opacity: 0.8;*/
        color: #fff;
        border: 1px solid #ffa500;
        /*-webkit-border-radius: 16px;*/
        transition: all 0.5s;
/*        transition: background 1s;*/
}
.myButton:active {
	position:relative;
	top:1px;
}

